.uibutton input[type="file"]{
	cursor: pointer;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 99;
    font-size:50px;
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}

.myuibutton{
	overflow: hidden;
	display: block;
	width: 230px;
	height: 30px;
	position: relative;
	cursor: pointer;
	text-align: center;
	background-color: #c83a2a;
	border:1px solid #b33426;
	overflow: hidden;
	margin: 0 auto;
	color:#424242;
	border-radius:4px;	
	margin-top: 2px;
	margin-left: -1px
}

.myuibutton span{
	position: absolute;
	left: 30%;
	line-height: 25px;
	color: #ffffff;
}